<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!-- 单位：KB（千字节），默认：4096（4MB），最大：2097152（2GB） -->
    <httpRuntime targetFramework="4.5" maxRequestLength="2097152" executionTimeout="3600" />
    <sessionState cookieName="sm_nems_t_sid" mode="InProc" cookieless="false" timeout="30"></sessionState>
    <identity impersonate="true" userName="aspnetuser" password="123456" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 单位：B（字节），默认：30000000（约30MB），最大：2147483648（2GB） -->
        <requestLimits maxAllowedContentLength="2147483648"></requestLimits>
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="true" />

    <modules>
      <add name="CustomHttpModule" type="SecretMadonna.NEMS.UI.CustomHttpModule.CustomHttpModule,CustomHttpModule" />
    </modules>

    <!-- verb : GET,HEAD,POST,CONNECT,DELETE,OPTIONS,PUT,TRACE,PATCH -->
    <handlers>
      <add name="CustomHttpHandler" path="*" verb="*" type="SecretMadonna.NEMS.UI.CustomHttpHandler.CustomHttpHandler,CustomHttpHandler" />
      <add name="JpgHttpHandler" path="*.jpg" verb="*" type="SecretMadonna.NEMS.UI.CustomHttpHandler.JpgHttpHandler,CustomHttpHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>