@model SecretMadonna.NEMS.UI.TeacherWebUI.Models.NoFormIndexViewModel
@{
    ViewBag.Title = "Index";
}
@section headend{}
<h2>Index</h2>
<div id="divContent"></div>
@section bodyend{
    <script>
        $(function () {
            $("#divContent").html("这里显示相应内容");

            var url = "@(Url.Content("~/Home/Test"))";
            var data = { Loginname: "test", Password: "123456" };
            $.ajax({
                type: "post",
                url: url,
                data: data,
                beforeSend: function (jqXHR, settings) {
                    console.log(arguments);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(arguments);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(arguments);
                },
                complete: function (jqXHR, textStatus) {
                    console.log(arguments);
                    $("#divContent").html(jqXHR.responseText);
                }
            });
        });
    </script>
}