@model SecretMadonna.NEMS.UI.TeacherWebUI.Models.HomeIndexModel

@{
    ViewBag.Title = "Index";
}

@section headend
{

}

<h2>Index</h2>

<span><i class="ace-icon fa fa-download"></i>fa-download</span>
<span><i class="ace-icon glyphicon glyphicon-remove"></i>glyphicon-remove</span>

<img src="~/Content/images/photo.jpg" />

@Html.ActionLink("TestPost", "TestPost", "Home", "http", "localhost", "123", null, new { })

@section bodyend
{
    <script>
        $(function () {
            var url = "http://www.mytest.com/mywebsite/nems/webapi/account/login";
            var data = { Loginname: "test", Password: "123456" };
            $.ajax({
                type: "post",
                url: url,
                data: data,
                beforeSend: function (jqXHR, settings) {
                    console.log(arguments);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(arguments);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(arguments);
                },
                complete: function (jqXHR, textStatus) {
                    console.log(arguments);
                }
            });
        });
    </script>
}
