@model SecretMadonna.NEMS.UI.TeacherWebUI.Models.HomeIndexModel

@{
    Layout = null;
    ViewBag.Title = "Index";
}

@*@section headend
{

}

<h2>Index</h2>

<span><i class="ace-icon fa fa-download"></i>fa-download</span>
<span><i class="ace-icon glyphicon glyphicon-remove"></i>glyphicon-remove</span>

<img src="~/Content/images/photo.jpg" />

@Html.ActionLink("TestPost", "TestPost", "Home", "http", "localhost", "123", null, new { })

@section bodyend
{
    <script>
        $(function () {
            $.ajax({
                type: "post",
                url: "http://ke.cqtx.everedu.cn/APPAPI/APP/DataApi/GetData/CeduStudentInfoBLL/Login?userid=hnpy201zhangcx&password=304018",
                beforeSend: function (jqXHR, settings) {
                    console.log(arguments);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(arguments);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(arguments);
                },
                complete: function (jqXHR, textStatus) {
                    console.log(arguments);
                }
            });
        });
    </script>
}*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TeacherWebUI</title>

    <link rel="icon" type="image/x-icon" href="data:;base64,=" />
</head>
<body>
    <img src="@(Url.Content("~/Content/images/photo.jpg"))" />
</body>
</html>