@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>成绩报告单</title>
    <link href="@Url.Content("~/favicon.ico")" rel="icon" type="image/x-icon" />
    <style type="text/css">
        thead {
            font-weight: bold;
            background-color: #ddd;
        }

        td {
            height: 30px;
            text-align: center;
            border: solid 1px #999;
        }
    </style>
</head>
<body>
    <div class="printContent" style="width:1024px;margin:0 auto;">
        <div style="page-break-after:always;">
            <h2 style="text-align:center;">考试批次名称 成绩报告单</h2>
            <div style="display:-webkit-flex;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;align-content:flex-start;">
                <div>考试课程：课程名称</div>
                <div>考试场次：考试场次</div>
                <div>考场：考场</div>
            </div>
            <table style="width:100%;margin:10px auto;border-collapse:collapse;">
                <thead>
                    <tr>
                        <td style="width:60px;">座位号</td>
                        <td style="width:80px;">学生姓名</td>
                        <td style="width:120px;">学号</td>
                        <td style="width:120px;">班级</td>
                        <td style="width:120px;">课程名称</td>
                        <td style="width:70px;">考试性质</td>
                        <td style="width:70px;">考试状态</td>
                        <td style="width:70px;">平时成绩</td>
                        <td style="width:70px;">考试成绩</td>
                        <td style="width:70px;">总成绩</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 20; i++)
                    {
                        <tr>
                            <td>座位号</td>
                            <td>学生姓名</td>
                            <td>学号</td>
                            <td>班级</td>
                            <td>课程名称</td>
                            <td>考试性质</td>
                            <td>考试状态</td>
                            <td>平时成绩</td>
                            <td>考试成绩</td>
                            <td>总成绩</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="display:-webkit-flex;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:stretch;align-content:flex-start;">
                <div style="width:50%;display:-webkit-flex;display:flex;flex-flow:column nowrap;justify-content:space-around;align-items:stretch;align-content:flex-start;">
                    <div>教研室主任（签名）：</div>
                    <div>主讲教师（签名）：</div>
                    <div>考试日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</div>
                    <div>报送日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</div>
                </div>
                <div style="width:50%;">
                    <table style="width:100%;margin:0 auto;border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <td><strong>考试人数</strong></td>
                                <td>23</td>
                                <td>60-69分</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>90分以上</td>
                                <td>23</td>
                                <td>60分以下</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>80-89分</td>
                                <td>23</td>
                                <td>60分以下</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>70-79分</td>
                                <td>23</td>
                                <td>其他</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div style="margin:20px auto;text-align:center;">
        <button id="btnPrint">打印</button>
    </div>

    <script src="@Url.Content("~/Content/plugins/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jQuery.print/jQuery.print.js")"></script>
    <script type="text/javascript">
        $(function (param_jQuery) {
            var $jQuery = param_jQuery;
            $jQuery("#btnPrint").on("click", function (e) {
                var $btnPrint = $jQuery(e.target);
                $btnPrint.attr("disabled", "disabled");
                $jQuery.print(".printContent");
                $btnPrint.removeAttr("disabled");
            });
        });
    </script>
</body>
</html>
