<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- 服务器声明：Data Source、Server、Address、Addr、Network Address（本地服务器可以用：.、localhost、local） -->
    <!-- 数据库声明：Initial Catalog、Database -->
    <!-- 集成Windows账号的安全性声明：Integrated Security(集成安全)、Trusted_Connection(受信连接) （值：SSPI、True、False）-->
    <!-- 账号声明：User ID、uid -->
    <!-- 密码声明：Password、pwd -->
    <!-- Connect Timeout 或 Connection Timeout：在中止连接请求，产生错误之前等待服务器连接的时间（以秒为单位） -->
    <add name="" connectionString="Data Source=localhost;Initial Catalog=Test;User ID=sa;Password=123456;Connect Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>